[
    {"action": "read", "resource": {"type": "authorizations"}},
    {"action": "read", "resource": {"type": "buckets"}},
    {"action": "write", "resource": {"type": "buckets", "name": "{{ INFLUX_BUCKET }}"}}
]